*
{
	margin: 0;
	padding: 0;
}

ul
{
	list-style:none;
}

body
{
	font:11px "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	background: #f9f9f9;
}

html, body
{
	height: 100%;
	width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

hr
{
	margin: 2em 0;
}

img
{
	border: none;
}

textarea
{
	padding: 5px;
}

#welcome-msg
{
	width: 800px;
	margin: 0 auto;
	font-variant: small-caps;
	font-size: 12pt;
	font-weight: 800;
}

.error
{
	background: #ffebe8;
	border: 1px solid #cc0000;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding: 1.2em;
	color: #333;
	margin-top: 1em;
	text-align: center;
}

.aError
{
	background: #ffebe8;
	border: 1px solid #cc0000;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding: 1px 5px;
	color: #333;
	position: absolute;
	margin-left: 1em;
	text-align: center;
}

.regError
{
	background: #ffebe8;
	border: 1px solid #cc0000;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	color: #333;
	display: block;
	padding: .8em;
	margin: 1em 0 .5em;
}

.feedError
{
	background: #ffebe8;
	border: 1px solid #cc0000;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	color: #333;
	display: block;
	padding: .8em;
	margin: 1em 0 .5em;
	font-size: 9pt;
	font-weight: 400;
	text-shadow: none;
	text-align: center;
	width: 300px;
}

.bidError
{
	background: #ffebe8;
	border: 1px solid #cc0000;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding: .8em;
	display: block;
	text-align: center;
	margin-bottom: 1.2em;
}

#wrapper
{
	width: 800px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.clear
{
	clear: both;
}

#intro
{
	margin-left: 2em;
}

#intro a
{
	text-decoration: none;
	color: blue;
}

#intro a:hover
{
	color: #000;
	text-decoration: underline;
	background:#f1cc91;
}

label#username, label#password, label#firstName, label#middleName, label#lastName, label#address1, label#address2, label#city, label#state, label#country, label#zipcode, label#phoneNumber, label#zipcode, label#email
{
	color:#777;
	font-size:13px;
}

#reg-left-column
{
	float: left;
	width: 350px;
}

#reg-right-column
{
	float: right;
	width: 350px;
}

#login-form-container
{	
	margin: 100px auto 100px;
	width: 325px;
}

#register-form-container
{
	margin: 10px auto 100px;
	width: 800px;
}

#register-form-container img
{
	display: block;
	margin: 0 auto;
}

#login-form-container a, #register-form-container a
{
	margin-left: 15px;
	color: #2175c0;
}

#login-form-container a:hover, #register-form-container a:hover
{
	color: red;
}

#login-form, #upi
{
	border: 1px solid #000;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	background:#fff;
	border:1px solid #e5e5e5;
	-moz-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	-webkit-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	-khtml-box-shadow:rgba(200,200,200,1) 0 4px 18px;
	box-shadow:rgba(200,200,200,1) 0 4px 18px;
	padding:16px 16px 20px;
	margin: 2em 0;
}

#upi
{
	padding-bottom: 40px !important;
}

#login-form input[type~=text], #login-form input[type~=password], #upi input[type~=text], #upi input[type~=password]
{
	color: #555;
}

#remember-me
{
	font-weight:400;
	float:left;
	margin-bottom:0;
}

#remember-me[type~=checkbox]
{
	width: 1em;
	margin-right: 0 !important;
}

#remember-me-label
{
	color:#777;
	font-size:11px;
	line-height:19px;
}

#login-msg
{
	background: #e8e8ff;
	padding: 10px;
	border: 1px solid blue;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-align: center;
	margin: 1em 0;
}

#login-msg a
{
	color: blue;
}

#login-msg a:hover
{
	color: red;
}

#login-form input, #upi input
{	
	font-size:24px;
	width:97%;
	margin-top:2px;
	margin-right:6px;
	margin-bottom:16px;
	border:1px solid #e5e5e5;
	background:#fbfbfb;
	padding:3px;
}

#upi input[type~=text], #upi input[type~=password]
{
	background: #ffffe0 !important;	
}

input#submit
{
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	font-size:12px !important;
	font-weight: 800 !important;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	cursor:pointer;
	text-decoration:none;
	margin-top:-3px;
	padding:3px 10px;
	width: 100px !important;
	text-align: center;
	float: right;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#298cba), to(#217096));
	background-image: -moz-linear-gradient(-90deg,#298cba,#217096);
	background-color: #2680ab;
	color: #fff;
	border: 1px solid #298cba;
}

input#submitAuction
{
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	font-size:12px !important;
	font-weight: 800 !important;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	cursor:pointer;
	text-decoration:none;
	margin-top:-3px;
	padding:3px 10px;
	width: 110px !important;
	text-align: center;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#298cba), to(#217096));
	background-image: -moz-linear-gradient(-90deg,#298cba,#217096);
	background-color: #2680ab;
	color: #fff;
	border: 1px solid #298cba;
}

#sellItem
{
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	font-size:12px !important;
	font-weight: 800 !important;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	cursor:pointer;
	text-decoration:none;
	margin-top:-3px;
	padding:5px;
	width: 100px !important;
	text-align: center;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#aaf19d), to(#21990c));
	background-image: -moz-linear-gradient(-90deg,#aaf19d,#21990c);
	background-color: #aaf19d;
	border: 1px solid #aaf19d;
	color: #000;
	text-shadow: 1px 1px 1px #6fc161;
	-moz-box-shadow: 1px 1px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	-khtml-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
	margin-right: 1em;
}

#delistItem
{
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	font-size:12px !important;
	font-weight: 800 !important;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	cursor:pointer;
	text-decoration:none;
	margin-top:-3px;
	padding:5px;
	width: 100px !important;
	text-align: center;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f19d9d), to(#990c0c));
	background-image: -moz-linear-gradient(-90deg,#f19d9d,#990c0c);
	background-color: #f19d9d;
	border: 1px solid #f19d9d;
	color: #000;
	text-shadow: 1px 1px 1px #c16161;
	-moz-box-shadow: 1px 1px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	-khtml-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
}

input#submit:hover, input#submitAuction:hover, #sellItem:hover, #delistItem:hover
{
	border: 1px solid #13455b;
}

input#submit:active, input#submitAuction:active
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#217096), to(#298cba));
	background-image: -moz-linear-gradient(-90deg,#217096,#298cba);
	background-color: #217096;
}

#sellItem:active
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#21990c), to(#aaf19d));
	background-image: -moz-linear-gradient(-90deg,#21990c,#aaf19d);
	background-color: #21990c;
}

#delistItem:active
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#990c0c), to(#f19d9d));
	background-image: -moz-linear-gradient(-90deg,#990c0c,#f19d9d);
	background-color: #990c0c;
}

#register-success
{
	width: 550px;
	margin: 10em auto;
	border: 2px solid #3a5f0b;
	text-align: center;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	padding: 1em;
	color: #3a5f0b;
	background: #ccffbb;
}

#confirm-text
{
	height: 50px;
	font-size: 14pt;
	margin-left: 60px;
	color: #2088b2;
}

#confirm
{
	background: url("images/check.png") no-repeat;
	height: 50px;
	width: 50px;
	float: left;
}

#register-failure
{
	width: 550px;
	margin: 10em auto;
	background: #ffebe8;
	border: 2px solid #cc0000;
	text-align: center;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	padding: 1em;
	color: #3a5f0b;
}

#failure-text
{
	height: 50px;
	font-size: 14pt;
	margin-left: 60px;
	color: #2088b2;
}

#failure
{
	background: url("images/cross.png") no-repeat;
	height: 50px;
	width: 50px;
	float: left;
}

#auctionImage
{
	float: left;
	border: 1px solid #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius:10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	-khtml-box-shadow: 2px 2px 5px #000;
	box-shadow: 2px 2px 5px #000;
	padding: 5px;
	width: 105px;
	height: 105px;
}

#aImage img, .finishImage img, .soldImage img, .saleImage img, .bidImage img
{
	max-width: 100px;
	max-height: 100px;
	display: block;
	margin: auto;
	-moz-box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	-khtml-box-shadow: 2px 2px 5px #000;
	box-shadow: 2px 2px 5px #000;
}

#auctionDetails
{
	float: right;
	text-align: left;
	width: 650px;
}

#auctionDetails p
{
	line-height: 1.5em;
	font-weight: 800;
	font-size: 11pt;
	margin-bottom: 1em;
}

#auctionDetails label
{
	font-weight: 400 !important;
	font-size: 9pt !important;
}

#aTitle a, #control-panel a
{
	color: blue;
	text-decoration: none;
}

#aTitle a:hover, #control-panel a:hover
{
	color: #000;
	text-decoration: underline;
	background:#f1cc91;
}

#aDescription, #aTitle, #aCategory, #aUsername, #aBid
{
	float: right;
	width: 550px;
}

#aDescription
{
	margin-bottom: 1em;
}

#aWinner
{
	color: #000;
	font-size: 14pt;
	text-shadow: 1px 1px 1px #6fc161;
	border: 1px solid #000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius: 5px;
	border-radius:5px;
	-moz-box-shadow: 1px 1px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	-khtml-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
	padding: 2px;
	background: #21990c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#aaf19d), to(#21990c));
	background-image: -moz-linear-gradient(-90deg,#aaf19d,#21990c);
	margin-left: 5%;
}

#mainPage-auctions
{
	width: 800px;
	margin: 0 auto;
}

#header-img
{
	margin: 0 auto;
	width: 800px;
}
#header-login
{
	float: right;
	width: 298px;
	height: 85px;
	text-align: right;
	display: none;
}

#header-login p
{
	margin-bottom: 1.3em;
	font-size: 10pt;
	font-style: italic;
}

#header-login a
{
	font-size: 9pt;
	text-decoration: none;
	border: 1px solid #000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background: #333;
	color: #fff;
	padding: 5px;
}

#header-login a:hover
{
	background: #4a4afd;
	text-decoration: underline;
	border: 1px solid #000;
}

#nav-bar
{
	display: table;
	border-top: 1px solid #9a9a9a;
	border-bottom: 1px solid #9a9a9a;
	width: 100%;
	margin: 1em 0;
	padding: 5px;
	background: #333;
}

#nav
{
	font-weight: bold;
	text-align: center;
}

#nav li
{
	position: relative;
	display: inline;
}

#nav li a
{
	display: inline;
	padding: 5px;
	color: #fff;
	background: #333;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: background-color, color;
    -moz-transition-duration: 300ms;
    -moz-transition-timing-function: ease-in-out; 
}

#nav li a:hover
{
	color: #fff;
	background: #4a4afd;
	background: rgba(74,74,253,0.9);
}

/*--- DROPDOWN ---*/
#nav ul
{
	list-style: none;
	position: absolute;
	left: -9999px;
	opacity: 0;
	-webkit-transition: 0.25s linear opacity;
	z-index: 10;
	margin-top: 5px;
}

#nav ul li
{
	float: none;
}

#nav ul a
{
	white-space: nowrap;
	display: block;
	text-align: left;
}

#nav li:hover ul
{
	left: 0;
	opacity: 1;
}

#nav li:hover a
{ /* Set styles for top level when dropdown is hovered */
	background: #4a4afd;
	background: rgba(74,74,253,0.9); /* It'll look nice semi-transparent */
}

#nav li:hover ul a
{
	text-decoration: none;
	-webkit-transition: -webkit-transform 0.075s linear;
}

#nav li:hover ul li a:hover
{
	background:#333;
	background:rgba(51,51,51,0.9);
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}

label#amount
{
	width: 250px;
	float: left;
	font-weight: 800 !important;
	font-size: 11pt !important;
}

.bidHighestMe
{	
	background: #aaf19d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#aaf19d), to(#56d658));
	background-image: -moz-linear-gradient(-90deg,#aaf19d,#56d658);
}

.bidHighestElse
{
	background: #f19d9d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f19d9d), to(#d65656));
	background-image: -moz-linear-gradient(-90deg,#f19d9d,#d65656);
}

.bidHighestElse, .bidHighestMe
{
	text-shadow: 1px 1px 1px #878787;
}

#bid-history th
{
	font-size: 10pt;
	text-align: center;
	padding: 3px 5px;
}

#bid-history td
{
	padding: 5px;
}

#redBox
{
	background: #f19d9d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f19d9d), to(#d65656));
	background-image: -moz-linear-gradient(-90deg,#f19d9d,#d65656);
}

#greenBox
{
	background: #aaf19d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#aaf19d), to(#56d658));
	background-image: -moz-linear-gradient(-90deg,#aaf19d,#56d658);
}

#greenBox, #redBox
{
	width: 15px;
	height: 15px;
	float: right;
	border: 1px solid #666;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

#redLegend, #greenLegend
{
	float: right;
	margin-right: .5em;
	font-size: 10pt;
}

#bid-history tr:nth-child(2n+1), #control-panel tr:nth-child(2n+1)
{
	background: #d9effa;
}

#bid-history table, #control-panel table
{
	border: 1px solid #f9f9f9;
	border-collapse: collapse;
}

#currentHighNote
{
	font-variant: small-caps;
	background: #ccffbb;
	border: 1px solid #3a5f0b;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding: 5px 5px;
	color: #333;
	margin-left: 1em;
	text-align: center;
}

#auctionFinished
{
	font-variant: small-caps;
	background: #f7c6be;
	border: 1px solid #cc0000;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding: 5px 5px;
	color: #333;
	margin-left: 1em;
	text-align: center;
}

#add-auction p
{
	margin-bottom: 1em;
	line-height: 1.8em;
}

#control-panel img
{
	max-width: 100px;
	max-height: 100px;
}

.bidTitle, .bidCategory, .bidSeller, .saleTitle, .saleCategory, .bidHighest, .bidCurrent, .wonTitle, .wonCategory, .wonBid, .wonStatusWon, .wonStatusCanceled, .wonStatusLost, .saleBid, .bidHighestMe, .bidHighestElse
{
	text-align: center;
}

.wonStatusWon, .wonStatusCanceled, .wonStatusLost
{
	font-weight: 800;
	font-size: 14pt;
}

.wonStatusWon
{
	color: #57d658;
}

.wonStatusCanceled
{
	color: #f17809;
}

.wonStatusLost
{
	color: #d65757;
}

.soldTitle, .soldCategory, .soldHighestBid, .finishTitle, .finishCategory, .finishHighestBid, .finishSoldWinner, .soldSoldWinner
{
	text-align: center;
}

.finishTitle, .finishCategory, .finishHighestBid, .finishImage, .finishSoldWinner
{
	background: #f7c6be;
	border-top: 2px groove #555 !important;
	border-bottom: 2px groove #555 !important;
}

.finishImage
{
	border-left: 2px groove #555 !important;
}

.finishSoldWinner
{
	border-right: 2px groove #555 !important;
}

#control-panel table
{
	border: 1px solid #aaa;
	width: 800px;
	font-size: 9pt;
}

#control-panel td
{
	padding: 10px;
}

#control-panel th
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#217096), to(#298cba));
	background-image: -moz-linear-gradient(-90deg,#217096,#298cba);
	background-color: #217096;
	color: #fff;
	padding: .5em 0;
	font-size: 10pt;
}

#control-panel td, #control-panel th
{	
	border-width: 0;
}

#head-gradient
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#298cba), to(#f9f9f9));
	background-image: -moz-linear-gradient(-90deg,#298cba,#f9f9f9);
	background-color: #f9f9f9;
	padding: 4em 0;
	margin-bottom: -4em;
}

#footer
{
	text-align: center;
	font-size: 10pt;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#298cba));
	background-image: -moz-linear-gradient(-90deg,#f9f9f9,#298cba);
	background-color: #f9f9f9;
	padding: 3em 0 1em;
}

.push, #footer
{
	height: 4em;
}

#leave-feedback:before
{
	content: url('images/exclamation.png');
	display: inline;
	vertical-align: middle;
	margin-right: 5px;
}

#leave-feedback a
{
	color: blue;
	text-decoration: none;
}

#leave-feedback a:hover
{
	color: #000;
	text-decoration: underline;
	background:#f1cc91;
}

#feedback-title
{
	text-align: center;
	font-size: 18pt;
}

#fb
{
	margin-top: 1em;
	font-size: 14pt;
	text-shadow: 1px 1px 2px #999;
	font-weight: 800;
	color: #555;
}

#fb textarea, #fb input
{
	margin-top: .5em !important;
}

#feedback-border
{
	border: 2px solid #000;
	-moz-border-radius:20px;
	-khtml-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	padding-left:10px;
	padding-top: 10px;
	width: 500px;
	margin: 0 auto;
	background: #a8f09b;
	
}

#feedForBuyer, #feedForSeller, #rateForBuyer, #rateForSeller
{
	float: right;
	width: 320px;
	padding:0 5px;
}

.feedSellRate, .feedSellFeed, .feedSellUser, .feedSellTitle, .feedSellTitle, .feedBuyUser, .feedBuyFeed, .feedBuyRate
{
	text-align: center;
}

#control-panel h3
{
	font-size: 18pt;
	font-variant: small-caps;
	margin-bottom: 0.3em;
}

/*=================Gradient Text===================*/
.rainbow /*layers of gradient*/
{
	background: transparent;
	display: block;
	position: relative;
	height: 1px;
	overflow: hidden;
	z-index: 4;
}

.rainbow span /*full gradient print*/
{
	position: absolute;
	top: 0;
	left: 1px;
	display: block;
	xwhite-space: nowrap;
	text-align: center;
	width: 800px;
}
	
a .rainbow span
{
	white-space: nowrap;
}

.rainbows-highlight
{
	color: #fff !important;
	display: block;
	position: absolute;
	top: -1px;
	left: 0px;
	z-index: 2;
	text-align: center;
	width: 800px;
}

.rainbows-shadow /*base*/
{
	color: #b3b3b3 !important;
	display:block;
	position: absolute;
	top: 1px;
	left: 2px;
	z-index: 3;
	text-align: center;
	width: 800px;
}

.back .text .rainbows-shadow
{
	color: #fff !important;
	opacity: 0.3;
}

/*=========== Hover Image ========*/
#click span
{
	display: none;
}

#click
{	
    -webkit-transition: all .3s ease-out;
    opacity:0.1;
    -moz-transition: all .3s ease-out;
}

#click:hover
{
	-webkit-box-shadow:0 0 10px #000000;
	opacity:1;
	-moz-box-shadow:0 0 10px #000000;
}

#click:hover span
{
	display: block;
	position: absolute;
	top:24.5%;
	left: 26%;
	padding-left: 20px;
}

@-moz-document url-prefix() {
  #click:hover span
	{
		display: block;
		position: absolute;
		top:26% !important;
		left: 29%;
		padding-left: 20px;
	}
}

#zoomImg>img
{
	max-width: 450px;
	max-height: 450px;
	border: 6px solid #fff;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
	background: #f9f9f9;
}

.stars
{
	font-size: 8pt;
	font-weight: 400;
}

.stars [type~=radio]
{
	margin-right: .5em;
	margin-left: 3px;
}